body {
  background-image: url(hintergrund1.png);
  background-repeat: no-repeat;      
  background-size: cover;            
  background-position: center;       
  background-attachment: fixed;
  filter: brightness(1.3) contrast(0.8);
}
