img
{
	max-width: 30%;
	higth: auto;
	display: block;
	margin: 10px auto;
	border-radiuns: 10px;
	box-schadow 0 4px 8px rgba(0,0,0,0.2); 
}
h1,h2
{
	text-aling: center;
	color:black;
}
	body {
  background-image: url(hintergrund1.png);
  background-repeat: no-repeat;      
  background-size: cover;            
  background-position: center;       
  background-attachment: fixed;
  filter: brightness(1.3) contrast(0.8);
}
